@import 'Sass/Components/Banner.scss';
@import 'Sass/Components/Card.scss';
@import 'Sass/Components/Carrousel.scss';
@import 'Sass/Components/Footer.scss';
@import 'Sass/Components/Hotels.scss';
@import 'Sass/Components/Logements.scss';
@import 'Sass/Components/Header.scss';
@import 'Sass/Components/Home.scss';
@import 'Sass/Components/Description.scss';
@import 'Sass/Components/Propos.scss';
@import 'Sass/Fonts/Fonts.scss';

a, div, p, span, button, b, strong {
    font-family: Montserrat;
}
html body {
    margin: 0;
    padding: 0;
}
