@import '../Utils/Variables.scss';

.carousel {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
  }
  
  .slides-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
  }
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 40px;
    background-color: #ccc;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  .carousel__item {
    flex: 0 0 300px;
    margin-right: 10px;
  }
  .carousel__caption {
    text-align: center;
    margin-top: 10px;
  }
  .prev-btn {
    left: 10px;
  }
  .next-btn {
    right: 10px;
  }