@import '../Utils/Variables.scss';

.header { 
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100px;
    text-align: center;
    align-items: center;
    position:relative;
}
.kasa {
    width: 20%;
    position: left;
    margin: 20px;
}
.Accueil {
    color: $primary-color;
    font-size: 28px;
    position: absolute;
    right: 0;
    justify-content: end;
    a{
        margin-left: 20px;
    }
    a:visited{
        color: $primary-color;
    }
}
a {
    text-decoration: none;
}